@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
.container {
    font-family: 'Besley', serif !important;
    background-color: #fae0e0 !important;
    color: rgb(14, 13, 13);
}

#body1 {
    font-family: 'Besley', serif;
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding-bottom: 40px;
}

.p_title {
    font-weight: bold;
}


/* .com_name {
    color: green;
} */

.cat_btn {
    float: right;
}

.cats {
    color: #fff;
    font-weight: bold;
}

.back_btn {
    float: left;
}

#cats {
    font-weight: bold;
}

#back {
    float: left;
}

.card img {
    width: 500px;
    height: 600px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 10px;
}

.wraper {
    background-color: rgb(240, 235, 235);
}

.card-body {
    width: 300px;
}