.exercise{
    background-color: rgb(216, 233, 236);
    margin: 30px;
    border-radius: 18px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.text-center{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}