@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
.container-fluid {
    font-family: 'Besley', serif;
    color: rgb(250, 249, 249) !important;
}

.navbar {
    background-color: #161616;
    font-family: 'Besley', serif;
    padding: 30px;
}

.navbar-brand {
    font-family: 'Besley', serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 254, 254);
}