{% macro displayExercisesList(exercises_list) %}

    {% for exercises in exercises_list %}
    <div class="container">

    <div>
        <strong style="color: rgb(73, 71, 71);">name:{{exercises.name}}</strong>
        </div>
        <div>
        <p><em>description:{{exercises.description | safe}}</em></p>
        <p> category: {{exercises.category.name |safe}}</p>
        <p> author: {{exercises.license_author |safe}}</p>
        <p> date created: {{exercises.creation_date |safe}}</p>
        
        <br><br>
    </div>
    {% endfor %}

{% endmacro %}

